.part {
  float: left;
  border: 1px solid black;
  padding: 1em;
  min-height: 270px;
}
@media print {
  .part {
    break-inside: avoid;
  }
}
.count {
  border: 2px solid black;
  font-weight: bolder;
  background-color: #cccccc;
  text-align: center;
  display: inline-block;
  width: 2em;
}
.section {
  margin-top: 1em;
  border-top: 2px solid black;
  clear: both;
  font-size: 120%;
  font-weight: bold;
  page-break-inside: avoid;
}
div.section::after {
  content: "";
  display: block;
  height: 300px;
  margin-bottom: -300px;
}


.checklist {
  font-size: 120%;
}
